<template>
  <div class="component-content">
    <p class="title">账务明细</p>

    <div class="screen fff">
      <div class="search-label">
        <p>账户</p>
        <div class="input m-l-10">
          <p class="name">广州亿涵信息技术有限公司</p>
          <p class="email">1704869181@qq.com</p>
          <i class="el-icon-arrow-down"></i>
        </div>
        <p class="type">收支类型</p>
        <el-radio-group v-model="firstObj.query.type" @change="search">
          <el-radio :label="0">全部</el-radio>
          <el-radio :label="1">收入</el-radio>
          <el-radio :label="-1">支出</el-radio>
        </el-radio-group>
      </div>
      <div class="search-label m-t-16">
        <label for="">查询时间</label>
        <el-tooltip content="单次查询最长6个月" placement="top">
          <i class="el-icon-question" />
        </el-tooltip>

        <a-date-picker
          class="m-l-20"
          format="YYYY-MM-DD HH:mm:ss"
          v-model:value="startTime"
          :showTime="{ defaultValue: $moment('00:00:00', 'HH:mm:ss') }"
        />

        <p class="to">至</p>

        <a-date-picker
          class="m-r-20"
          format="YYYY-MM-DD HH:mm:ss"
          v-model:value="endTime"
          :showTime="{ defaultValue: $moment('00:00:00', 'HH:mm:ss') }"
        />
        <span
          class="day pointer"
          :class="{ blue: timeType == 1 }"
          @click="changeTime(1)"
          >今日</span
        >
        <span
          class="day pointer"
          :class="{ blue: timeType == 0 }"
          @click="changeTime(0)"
          >昨日</span
        >
        <span
          class="day pointer"
          :class="{ blue: timeType == 7 }"
          @click="changeTime(7)"
          >近7日</span
        >
        <span
          class="day pointer"
          :class="{ blue: timeType == 30 }"
          @click="changeTime(30)"
          >近30日</span
        >
        <div class="search-btn m-l-auto">
          <el-button size="small" type="primary" @click="search"
            >查询</el-button
          >
          <el-button size="small">重置</el-button>
          <div class="more m-l-10">
            更多筛选
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 1024 1024"
              xmlns="http://www.w3.org/2000/svg"
              class="tech-ui-icon"
              style="vertical-align: -0.125em"
            >
              <path
                fill="currentColor"
                d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3 0.1-12.7-6.4-12.7z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="cards fff">
      <div class="cards-item">
        <p class="label">收入(元)</p>
        <div class="detail">
          <p class="money">{{ form.incomeTotal || "0.00" }}</p>
          <p class="num">{{ form.incomeCount || 0 }}笔</p>
          <p class="blue">详细</p>
        </div>
      </div>
      <div class="sep"></div>
      <div class="cards-item">
        <p class="label">支出(元)</p>
        <div class="detail">
          <p class="money">{{ form.outTotal || "0.00" }}</p>
          <p class="num">{{ form.outCount || 0 }}笔</p>
          <p class="blue">详细</p>
        </div>
      </div>
    </div>

    <div class="fff">
      <div class="search-btn2">
        <p class="title m-r-auto">数据明细</p>
        <el-button size="small" @click="download">下载全部</el-button>
        <el-button size="small" @click="download">下载文件区</el-button>
        <el-button size="small">表格设置</el-button>
      </div>

      <a-table
        :columns="columns"
        :data-source="firstObj.listData"
        :pagination="pagination"
        :loading="listLoading"
        @change="handleTableChange"
      >
        <template #bodyCell="{ column, record }">
          <template v-if="column.dataIndex === '0'">
            <span>0</span>
          </template>
          <template v-else-if="column.dataIndex === '-'">
            <span>-</span>
          </template>
          <template v-else-if="column.dataIndex === 'type'">
            <span>
              {{ record.type == -1 ? record.outTotal : record.inTotal }}
            </span>
          </template>
          <template v-else-if="column.dataIndex === 'fee'">
            <span> {{ record.type == 1 ? "在线支付" : "服务费" }} </span>
          </template>
        </template>
      </a-table>
    </div>
  </div>
</template>

<script setup>
import { getListApi, getDownloadAPi} from "@/api";
import timeUtils from "@/utils/index.js";
import { ref, unref, onMounted, computed } from "vue";
import dayjs, { Dayjs } from "dayjs";

const timeFormat = "YYYY-MM-DD HH:mm:ss";
const activeName = ref("first");
const radio2 = ref(3);
const firstObj = ref({
  query: {
    queryType: "fund",
    pageNum: 1,
    pageSize: 20,
    startTime: null,
    endTime: null,
    type: 0,
  },
  listData: [],
});
const listLoading = ref(false);
const form = ref({});
const timeType = ref("1");
const timeMap = ref({});
const startTime = ref(
  dayjs(
    timeUtils.timeHandle(
      new Date(new Date().toLocaleDateString()).getTime(),
      ""
    ),
    "YYYY-MM-DD"
  )
);
const endTime = ref(
  dayjs(
    timeUtils.timeHandle(
      new Date(new Date().toLocaleDateString()).getTime() +
        3600 * 1000 * 24 * 1 -
        1,
      ""
    ),
    "YYYY-MM-DD"
  )
);
const columns = [
  {
    title: "入账时间",
    dataIndex: "createTime",
    width: "160px",
    sorter: true,
  },
  {
    title: "支付宝交易号",
    dataIndex: "orderNo",
    width: "150px",
  },
  {
    title: "财务类型",
    dataIndex: "fee",
  },
  {
    title: "收支金额（元）",
    dataIndex: "type",
  },
  {
    title: "账户余额（元）",
    dataIndex: "balance",
    width: "150px",
  },
  {
    title: "业务基础订单号",
    dataIndex: "sn",
    width: "150px",
  },
  {
    title: "业务描述",
    dataIndex: "-",
  },
  {
    title: "付款备注",
    dataIndex: "-",
  },
  {
    title: "备注",
    dataIndex: "remark",
  },
];

const pagination = computed(() => ({
  total: firstObj.value.total,
  current: firstObj.value.query.pageNum,
  pageSize: firstObj.value.query.pageSize,
}));

onMounted(init);

function init() {
  search();
  getTime();
}

function getTime() {
  let toData = new Date(new Date().toLocaleDateString()).getTime();
  let todayStart = toData;
  let todayEnd = todayStart + 24 * 60 * 60 * 1000;
  let yesterdayStart = toData - 3600 * 24 * 1000;
  let yesterdayEnd = yesterdayStart + 24 * 60 * 60 * 1000;
  let sevenStart = toData - 6 * 3600 * 24 * 1000;
  let thirtyStart = toData - 29 * 3600 * 24 * 1000;

  timeMap.value = {
    0: [
      timeUtils.timeHandle(new Date(yesterdayStart), ""),
      timeUtils.timeHandle(new Date(yesterdayEnd - 1), ""),
    ],
    1: [
      timeUtils.timeHandle(new Date(todayStart), ""),
      timeUtils.timeHandle(new Date(todayEnd - 1), ""),
    ],
    7: [
      timeUtils.timeHandle(new Date(sevenStart), ""),
      timeUtils.timeHandle(new Date(todayEnd - 1), ""),
    ],
    30: [
      timeUtils.timeHandle(new Date(thirtyStart), ""),
      timeUtils.timeHandle(new Date(todayEnd - 1), ""),
    ],
  };
}

function changeTime(type) {
  timeType.value = type;
  const [start, end] = timeMap.value[type];
  startTime.value = dayjs(start, timeFormat);
  endTime.value = dayjs(end, timeFormat);
  search();
}

function search() {
  firstObj.value = {
    ...firstObj.value,
    query: {
      ...firstObj.value.query,
      startTime: timeUtils.strToTimestamp(startTime.value.format(timeFormat)),
      endTime: timeUtils.strToTimestamp(endTime.value.format(timeFormat)),
      pageNum: 1,
    },
  };
  getList();
}

async function getList() {
  if (listLoading.value) {
    return;
  }
  listLoading.value = true;
  try {
    const { list, sub } = await getListApi(unref(firstObj.value.query));
    firstObj.value.listData = list.list;
    firstObj.value.total = Number(list.totalCount) || 0;
    form.value = sub;
  } finally {
    listLoading.value = false;
  }
}

// 修改页码
function handleTableChange({ current, pageSize }) {
  firstObj.value.query.pageNum = current;
  firstObj.value.query.pageSize = pageSize;
  getList();
}

async function download() {
  const res = await getDownloadAPi(unref(firstObj.value.query));
  const csvUrl = res.filepath || ''
  const fileName = csvUrl.substring(csvUrl.lastIndexOf("/") + 1)
  const link = document.createElement('a')
  
  document.body.appendChild(link)
  link.href = csvUrl
  link.target = '_blank'
  link.id = 'linkId'
  link.className = 'linkId'
  link.download = decodeURI(fileName)
  document.getElementById('linkId').click()
  link.remove()
}
</script>

<style lang="scss" scoped>
p {
  margin: 0;
}

.component-content {
  width: calc(100vw - 320px);
}

.title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 48px;
}

.screen {
  padding: 24px 0;
}

.blue {
  color: #62a4ff;
}

.cards {
  display: flex;
  align-items: center;

  .cards-item {
    flex: 1;

    .label {
      color: #666;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .detail {
      display: flex;
      height: 40px;
      align-items: center;

      .money {
        color: #333;
        font-size: 30px;
        font-weight: 500;
        line-height: 40px;
        margin-right: 24px;
      }

      .num {
        font-size: 14px;
        color: #333;
        margin-right: 10px;
      }

      .blue {
        font-size: 14px;
        color: #1677ff;
      }
    }
  }

  .sep {
    height: 48px;
    width: 1px;
    background: #ccc;
    margin-right: 36px;
  }
}

.fff {
  background: #fff;
  border-radius: 8px;
  padding: 24px;
  margin-right: 20px;
}

.block {
  margin-top: 20px;
}

.search-label {
  display: flex;
  height: 32px;
  align-items: center;
  font-size: 14px;
  color: #666;

  .input {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    width: 540px;
    height: 32px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    padding: 0 12px;

    .name {
      margin-right: auto;
    }
  }

  .day {
    font-size: 14px;
    margin-right: 8px;
  }
}

.search-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 32px;

  .more {
    color: #1677ff;
    font-size: 14px;
    line-height: 32px;
  }
}
.search-btn2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 48px;
  margin-bottom: 10px;

  .more {
    color: #1677ff;
    font-size: 14px;
    line-height: 32px;
  }
}

.type {
  margin: 0 10px 0 30px;
}

.component-content /deep/.el-table th.el-table__cell {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  text-align: left;
  background: #fafafa;
  border-bottom: 1px solid #f0f0f0;
}

.to {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  margin: 0 6px;
}
</style>
