<template>
  <div>
    <p class="top-title">对账总览</p>

    <div class="overview">
      <div class="left">
        <div class="item m-b-20">
          <div class="head">
            <p class="title">交易统计</p>
            <label class="label m-l-auto">交易成交时间查询</label>
            <el-tooltip content="买家付款完成时间" placement="top">
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 1024 1024"
                xmlns="http://www.w3.org/2000/svg"
                class="tech-ui-icon helpIcon___1B845"
                style="vertical-align: -0.125em"
              >
                <path
                  fill="currentColor"
                  d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z m0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"
                ></path>
                <path
                  fill="currentColor"
                  d="M623.6 316.7C593.6 290.4 554 276 512 276s-81.6 14.5-111.6 40.7C369.2 344 352 380.7 352 420v7.6c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V420c0-44.1 43.1-80 96-80s96 35.9 96 80c0 31.1-22 59.6-56.1 72.7-21.2 8.1-39.2 22.3-52.1 40.9-13.1 19-19.9 41.8-19.9 64.9V620c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8v-22.7c0-19.7 12.4-37.7 30.9-44.8 59-22.7 97.1-74.7 97.1-132.5 0.1-39.3-17.1-76-48.3-103.3z"
                ></path>
                <path
                  fill="currentColor"
                  d="M512 732m-40 0a40 40 0 1 0 80 0 40 40 0 1 0-80 0Z"
                ></path>
              </svg>
            </el-tooltip>
            <a-date-picker
              class="m-l-10"
              size="small"
              placeholder="选择日期"
              :showToday="false"
              :disabledDate="disabledDate"
              v-model:value="value1"
            />
          </div>
          <div class="detail">
            <div class="detail-item">
              <p class="name">
                <label>成交订单金额(元)</label>
                <el-tooltip content="已成交交易订单的交易金额" placement="top">
                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 1024 1024"
                    xmlns="http://www.w3.org/2000/svg"
                    class="tech-ui-icon helpIcon___1B845"
                    style="vertical-align: -0.125em"
                  >
                    <path
                      fill="currentColor"
                      d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z m0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"
                    ></path>
                    <path
                      fill="currentColor"
                      d="M623.6 316.7C593.6 290.4 554 276 512 276s-81.6 14.5-111.6 40.7C369.2 344 352 380.7 352 420v7.6c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V420c0-44.1 43.1-80 96-80s96 35.9 96 80c0 31.1-22 59.6-56.1 72.7-21.2 8.1-39.2 22.3-52.1 40.9-13.1 19-19.9 41.8-19.9 64.9V620c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8v-22.7c0-19.7 12.4-37.7 30.9-44.8 59-22.7 97.1-74.7 97.1-132.5 0.1-39.3-17.1-76-48.3-103.3z"
                    ></path>
                    <path
                      fill="currentColor"
                      d="M512 732m-40 0a40 40 0 1 0 80 0 40 40 0 1 0-80 0Z"
                    ></path>
                  </svg>
                </el-tooltip>
              </p>
              <p class="money">{{ obj.orderAmout }} 元</p>
              <p class="num">{{ obj.orderNum }} 笔</p>
            </div>

            <div class="detail-item">
              <p class="name">
                <label>商家实收(元)</label>
                <el-tooltip
                  content="已成交订单中商家实际收到的金额汇总"
                  placement="top"
                >
                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 1024 1024"
                    xmlns="http://www.w3.org/2000/svg"
                    class="tech-ui-icon helpIcon___1B845"
                    style="vertical-align: -0.125em"
                  >
                    <path
                      fill="currentColor"
                      d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z m0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"
                    ></path>
                    <path
                      fill="currentColor"
                      d="M623.6 316.7C593.6 290.4 554 276 512 276s-81.6 14.5-111.6 40.7C369.2 344 352 380.7 352 420v7.6c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V420c0-44.1 43.1-80 96-80s96 35.9 96 80c0 31.1-22 59.6-56.1 72.7-21.2 8.1-39.2 22.3-52.1 40.9-13.1 19-19.9 41.8-19.9 64.9V620c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8v-22.7c0-19.7 12.4-37.7 30.9-44.8 59-22.7 97.1-74.7 97.1-132.5 0.1-39.3-17.1-76-48.3-103.3z"
                    ></path>
                    <path
                      fill="currentColor"
                      d="M512 732m-40 0a40 40 0 1 0 80 0 40 40 0 1 0-80 0Z"
                    ></path>
                  </svg>
                </el-tooltip>
              </p>
              <p class="money">{{ obj.merchantsPaid }} 元</p>
            </div>

            <div class="detail-item">
              <p class="name">
                <label>商家优惠(元)</label>
                <el-tooltip
                  content="已成交订单中不会产生实际收入的商家优惠扣减金额汇总"
                  placement="top"
                >
                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 1024 1024"
                    xmlns="http://www.w3.org/2000/svg"
                    class="tech-ui-icon helpIcon___1B845"
                    style="vertical-align: -0.125em"
                  >
                    <path
                      fill="currentColor"
                      d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z m0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"
                    ></path>
                    <path
                      fill="currentColor"
                      d="M623.6 316.7C593.6 290.4 554 276 512 276s-81.6 14.5-111.6 40.7C369.2 344 352 380.7 352 420v7.6c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V420c0-44.1 43.1-80 96-80s96 35.9 96 80c0 31.1-22 59.6-56.1 72.7-21.2 8.1-39.2 22.3-52.1 40.9-13.1 19-19.9 41.8-19.9 64.9V620c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8v-22.7c0-19.7 12.4-37.7 30.9-44.8 59-22.7 97.1-74.7 97.1-132.5 0.1-39.3-17.1-76-48.3-103.3z"
                    ></path>
                    <path
                      fill="currentColor"
                      d="M512 732m-40 0a40 40 0 1 0 80 0 40 40 0 1 0-80 0Z"
                    ></path>
                  </svg>
                </el-tooltip>
              </p>
              <p class="money">{{ obj.merchantDiscount }} 元</p>
            </div>

            <div class="detail-item">
              <p class="name">
                <label>退款订单(元)</label>
                <el-tooltip
                  content="退款订单中，订单退款金额汇总，（实退金额+退商家优惠）+售中退款"
                  placement="top"
                >
                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 1024 1024"
                    xmlns="http://www.w3.org/2000/svg"
                    class="tech-ui-icon helpIcon___1B845"
                    style="vertical-align: -0.125em"
                  >
                    <path
                      fill="currentColor"
                      d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z m0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"
                    ></path>
                    <path
                      fill="currentColor"
                      d="M623.6 316.7C593.6 290.4 554 276 512 276s-81.6 14.5-111.6 40.7C369.2 344 352 380.7 352 420v7.6c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V420c0-44.1 43.1-80 96-80s96 35.9 96 80c0 31.1-22 59.6-56.1 72.7-21.2 8.1-39.2 22.3-52.1 40.9-13.1 19-19.9 41.8-19.9 64.9V620c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8v-22.7c0-19.7 12.4-37.7 30.9-44.8 59-22.7 97.1-74.7 97.1-132.5 0.1-39.3-17.1-76-48.3-103.3z"
                    ></path>
                    <path
                      fill="currentColor"
                      d="M512 732m-40 0a40 40 0 1 0 80 0 40 40 0 1 0-80 0Z"
                    ></path>
                  </svg>
                </el-tooltip>
              </p>
              <p class="money">{{ obj.refundOrder }} 元</p>
              <p class="num">{{ obj.refundNum }} 笔</p>
            </div>
          </div>
          <div id="echart1" class="echart" style="height: 300px"></div>
        </div>

        <div class="item">
          <div class="head">
            <p class="title">收支统计</p>
            <label class="label m-l-auto">交易收支查询</label>
            <a-date-picker
              class="m-l-10"
              size="small"
              placeholder="选择日期"
              :showToday="false"
              :disabledDate="disabledDate"
              v-model:value="value2"
            />
          </div>
          <div class="detail">
            <div class="detail-item">
              <p class="name">
                <label>收入</label>
                <el-tooltip content="余额账户的收入金额" placement="top">
                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 1024 1024"
                    xmlns="http://www.w3.org/2000/svg"
                    class="tech-ui-icon helpIcon___1B845"
                    style="vertical-align: -0.125em"
                  >
                    <path
                      fill="currentColor"
                      d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z m0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"
                    ></path>
                    <path
                      fill="currentColor"
                      d="M623.6 316.7C593.6 290.4 554 276 512 276s-81.6 14.5-111.6 40.7C369.2 344 352 380.7 352 420v7.6c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V420c0-44.1 43.1-80 96-80s96 35.9 96 80c0 31.1-22 59.6-56.1 72.7-21.2 8.1-39.2 22.3-52.1 40.9-13.1 19-19.9 41.8-19.9 64.9V620c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8v-22.7c0-19.7 12.4-37.7 30.9-44.8 59-22.7 97.1-74.7 97.1-132.5 0.1-39.3-17.1-76-48.3-103.3z"
                    ></path>
                    <path
                      fill="currentColor"
                      d="M512 732m-40 0a40 40 0 1 0 80 0 40 40 0 1 0-80 0Z"
                    ></path>
                  </svg>
                </el-tooltip>
              </p>
              <p class="money">{{ obj2.income }} 元</p>
              <p class="num">{{ obj2.incomeNum }} 笔</p>
            </div>

            <div class="detail-item">
              <p class="name">
                <label>支出</label>
                <el-tooltip content="余额账户的支出金额" placement="top">
                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 1024 1024"
                    xmlns="http://www.w3.org/2000/svg"
                    class="tech-ui-icon helpIcon___1B845"
                    style="vertical-align: -0.125em"
                  >
                    <path
                      fill="currentColor"
                      d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z m0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"
                    ></path>
                    <path
                      fill="currentColor"
                      d="M623.6 316.7C593.6 290.4 554 276 512 276s-81.6 14.5-111.6 40.7C369.2 344 352 380.7 352 420v7.6c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V420c0-44.1 43.1-80 96-80s96 35.9 96 80c0 31.1-22 59.6-56.1 72.7-21.2 8.1-39.2 22.3-52.1 40.9-13.1 19-19.9 41.8-19.9 64.9V620c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8v-22.7c0-19.7 12.4-37.7 30.9-44.8 59-22.7 97.1-74.7 97.1-132.5 0.1-39.3-17.1-76-48.3-103.3z"
                    ></path>
                    <path
                      fill="currentColor"
                      d="M512 732m-40 0a40 40 0 1 0 80 0 40 40 0 1 0-80 0Z"
                    ></path>
                  </svg>
                </el-tooltip>
              </p>
              <p class="money">{{ obj2.outcome }} 元</p>
              <p class="num">{{ obj2.outcomeNum }} 笔</p>
            </div>

            <div class="detail-item">
              <p class="name">
                <label>期初余额</label>
                <el-tooltip
                  content="本期（自然日、月）起始时间的账户余额"
                  placement="top"
                >
                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 1024 1024"
                    xmlns="http://www.w3.org/2000/svg"
                    class="tech-ui-icon helpIcon___1B845"
                    style="vertical-align: -0.125em"
                  >
                    <path
                      fill="currentColor"
                      d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z m0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"
                    ></path>
                    <path
                      fill="currentColor"
                      d="M623.6 316.7C593.6 290.4 554 276 512 276s-81.6 14.5-111.6 40.7C369.2 344 352 380.7 352 420v7.6c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V420c0-44.1 43.1-80 96-80s96 35.9 96 80c0 31.1-22 59.6-56.1 72.7-21.2 8.1-39.2 22.3-52.1 40.9-13.1 19-19.9 41.8-19.9 64.9V620c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8v-22.7c0-19.7 12.4-37.7 30.9-44.8 59-22.7 97.1-74.7 97.1-132.5 0.1-39.3-17.1-76-48.3-103.3z"
                    ></path>
                    <path
                      fill="currentColor"
                      d="M512 732m-40 0a40 40 0 1 0 80 0 40 40 0 1 0-80 0Z"
                    ></path>
                  </svg>
                </el-tooltip>
              </p>
              <p class="money">{{ obj2.startAmount }} 元</p>
            </div>

            <div class="detail-item">
              <p class="name">
                <label>期末余额</label>
                <el-tooltip
                  content="本期（自然日、月）结束时间的账户余额"
                  placement="top"
                >
                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 1024 1024"
                    xmlns="http://www.w3.org/2000/svg"
                    class="tech-ui-icon helpIcon___1B845"
                    style="vertical-align: -0.125em"
                  >
                    <path
                      fill="currentColor"
                      d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z m0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"
                    ></path>
                    <path
                      fill="currentColor"
                      d="M623.6 316.7C593.6 290.4 554 276 512 276s-81.6 14.5-111.6 40.7C369.2 344 352 380.7 352 420v7.6c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V420c0-44.1 43.1-80 96-80s96 35.9 96 80c0 31.1-22 59.6-56.1 72.7-21.2 8.1-39.2 22.3-52.1 40.9-13.1 19-19.9 41.8-19.9 64.9V620c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8v-22.7c0-19.7 12.4-37.7 30.9-44.8 59-22.7 97.1-74.7 97.1-132.5 0.1-39.3-17.1-76-48.3-103.3z"
                    ></path>
                    <path
                      fill="currentColor"
                      d="M512 732m-40 0a40 40 0 1 0 80 0 40 40 0 1 0-80 0Z"
                    ></path>
                  </svg>
                </el-tooltip>
              </p>
              <p class="money">{{ obj2.endAmount }} 元</p>
            </div>
          </div>
          <div id="echart2" class="echart" style="height: 300px"></div>
        </div>
      </div>
      <overview-right class="right" />
    </div>
  </div>
</template>

<script setup>
import OverviewRight from "@/components/OverviewRight.vue";
import echarts from "echarts";
import { getOverviewApi } from "@/api";
import timeUtils from "@/utils/index.js";
import moment from "moment";
import dayjs, { Dayjs } from "dayjs";
import { ref, nextTick, onMounted } from "vue";

const value1 = ref(
  dayjs(
    timeUtils.timeHandle(
      new Date(new Date().toLocaleDateString()).getTime() - 1,
      ""
    ),
    "YYYY-MM-DD"
  )
);
const value2 = ref(
  dayjs(
    timeUtils.timeHandle(
      new Date(new Date().toLocaleDateString()).getTime() - 1,
      ""
    ),
    "YYYY-MM-DD"
  )
);
const disabledDate = (current) => {
  return current && current > moment().subtract(1, "days").endOf("day");
};
const obj = ref({});
const obj2 = ref({});

onMounted(init);

function init() {
  getDetail();
  getDetail2();
}

async function getDetail() {
  const { sub, list } = await getOverviewApi({ queryType: "trade" });
  obj.value = sub;
  formatDataForEchart("echart1", list);
}

async function getDetail2() {
  const { sub, list } = await getOverviewApi({ queryType: "gmv" });
  obj2.value = sub;
  formatDataForEchart("echart2", list);
}

async function formatDataForEchart(dom = "echart1", list = []) {
  const color =
    dom == "echart1"
      ? ["#1590ff", "#1590ff", "#1590ff"]
      : ["#0AEABF", "#0AEABF"];
  const keyMap =
    dom == "echart1"
      ? {
          closeringOrder: {
            legend: "成交订单",
            data: [],
          },
          refundOrder: {
            legend: "退款订单",
            data: [],
          },
          payAmount: {
            legend: "实收金额",
            data: [],
          },
        }
      : {
          income: {
            legend: "收入",
            data: [],
          },
          outcome: {
            legend: "支出",
            data: [],
          },
        };

  const legend = Object.keys(keyMap).reduce((p, t) => {
    p.push(keyMap[t].legend);
    return p;
  }, []);

  const date = [];
  list.forEach((item) => {
    date.push(item.date);
    Object.keys(keyMap).forEach((key) => {
      keyMap[key].data.push(item[key]);
    });
  });

  const series = Object.keys(keyMap).reduce((p, k) => {
    const item = keyMap[k];
    p.push({
      data: item.data,
      name: item.legend,
      type: "line",
    });
    return p;
  }, []);

  nextTick(() => {
    upDateEchart(dom, legend, series, date, 0, color);
  });
}

function upDateEchart(dom, legend, series, date, rotate = 0, color) {
  const myChart = echarts.init(document.getElementById(dom));
  myChart.showLoading();
  const option = {
    color: color,
    title: {
      show: !series || series.length == 0,
      textStyle: {
        color: "#909399",
        fontSize: 14,
        fontWeight: 400,
      },
      text: "暂无数据",
      left: "center",
      top: "center",
    },
    tooltip: {
      trigger: "axis",
      axisPointer: {
        type: "shadow",
      },
    },
    legend: {
      selectedMode: "single",
      data: legend,
      right: 60,
      top: 10,
      icon: "circle",
    },
    grid: {
      top: 100,
      left: 100,
      right: 100,
    },
    xAxis: [
      {
        name: "日期",
        type: "category",
        axisLabel: { rotate },
        data: date,
      },
    ],
    yAxis: [
      {
        name: "人民币",
        type: "value",
        axisLabel: {
          formatter: "{value}",
        },
      },
    ],
    series,
  };
  myChart.setOption(option, true);
  myChart.hideLoading();
}
</script>

<style lang="scss" scoped>
p {
  margin: 0;
}

.top-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 12px;
}
.overview {
  display: flex;

  .left {
    flex: 1;
  }

  .right {
    width: 329px;
    margin: 0 20px;
  }

  .item {
    background-color: #fff;
    border-radius: 8px;

    .head {
      height: 64px;
      display: flex;
      align-items: center;
      padding: 0 24px;
      border-bottom: 1px solid #f0f0f0;

      .title {
        color: #333;
        font-size: 18px;
      }

      .label {
        font-size: 14px;
        color: #666;
      }
    }
  }

  .detail {
    display: flex;

    .detail-item {
      flex: 1;
      padding: 26px 24px;

      .name {
        font-size: 14px;
        line-height: 22px;
        color: #666;
      }

      .money {
        font-size: 24px;
        color: #333;
        line-height: 40px;
        margin-bottom: 10px;
      }

      .num {
        font-size: 14px;
        color: #666;
        line-height: 22px;
      }
    }
  }
}
</style>
