<template>
  <div class="component-content">
    <div class="top">
      <p class="title">交易订单</p>
      <div class="search-top">
        <svg
          viewBox="64 64 896 896"
          focusable="false"
          data-icon="file-search"
          width="1em"
          height="1em"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            d="M688 312v-48c0-4.4-3.6-8-8-8H296c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8h384c4.4 0 8-3.6 8-8zm-392 88c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8h184c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8H296zm144 452H208V148h560v344c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8V108c0-17.7-14.3-32-32-32H168c-17.7 0-32 14.3-32 32v784c0 17.7 14.3 32 32 32h272c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zm445.7 51.5l-93.3-93.3C814.7 780.7 828 743.9 828 704c0-97.2-78.8-176-176-176s-176 78.8-176 176 78.8 176 176 176c35.8 0 69-10.7 96.8-29l94.7 94.7c1.6 1.6 3.6 2.3 5.6 2.3s4.1-.8 5.6-2.3l31-31a7.9 7.9 0 000-11.2zM652 816c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
          ></path>
        </svg>
        <p v-show="activeName == 'first'" class="m-l-10">历史交易查询</p>
      </div>
    </div>

    <el-tabs v-model="activeName">
      <el-tab-pane label="我卖出的" name="first">
        <div class="screen fff m-b-20">
          <div class="search-label">
            <p>选择账户</p>
            <div class="input m-l-10">
              <p class="name">广州亿涵信息技术有限公司</p>
              <p class="email">1704869181@qq.com</p>
              <i class="el-icon-arrow-down"></i>
            </div>
          </div>

          <div class="search-btn m-t-16">
            <label class="m-l-20 grey">创建时间</label>
            <el-tooltip
              content="在查询时间当日创建的订单金额汇总。"
              placement="top"
            >
              <i class="el-icon-question" />
            </el-tooltip>
            <a-date-picker
              class="m-l-20"
              format="YYYY-MM-DD HH:mm:ss"
              v-model:value="startTime"
              :showTime="{ defaultValue: $moment('00:00:00', 'HH:mm:ss') }"
            />

            <p class="to">至</p>

            <a-date-picker
              class="m-r-20"
              format="YYYY-MM-DD HH:mm:ss"
              v-model:value="endTime"
              :showTime="{ defaultValue: $moment('00:00:00', 'HH:mm:ss') }"
            />

            <span
              class="day pointer"
              :class="{ blue: timeType == 1 }"
              @click="changeTime(1)"
              >今日</span
            >
            <span
              class="day pointer"
              :class="{ blue: timeType == 0 }"
              @click="changeTime(0)"
              >昨日</span
            >
            <span
              class="day pointer"
              :class="{ blue: timeType == 7 }"
              @click="changeTime(7)"
              >7日</span
            >
            <span
              class="day pointer"
              :class="{ blue: timeType == 30 }"
              @click="changeTime(30)"
              >30日</span
            >
            <div class="m-l-auto"></div>
            <el-button size="small" type="primary" @click="search"
              >查询</el-button
            >
            <el-button size="small">重置</el-button>
            <div class="more m-l-10">
              更多筛选
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 1024 1024"
                xmlns="http://www.w3.org/2000/svg"
                class="tech-ui-icon"
                style="vertical-align: -0.125em"
              >
                <path
                  fill="currentColor"
                  d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3 0.1-12.7-6.4-12.7z"
                ></path>
              </svg>
            </div>
          </div>
        </div>

        <div class="card fff m-b-20">
          <div class="card-item border-line">
            <p class="label">
              实收金额（元）
              <el-tooltip
                content="交易成功的订单中扣减商家优惠后的实收金额，此金额未扣减服务费且不包含退款card-item单"
                placement="top"
              >
                <i class="el-icon-question" />
              </el-tooltip>
            </p>
            <p class="money">{{ form.incomeTotal || "0.00" }}</p>
            <p class="num"></p>
          </div>
          <div class="card-item border-line">
            <p class="label">
              成交订单（元）
              <el-tooltip
                content="查询时间范围内创建的已成交的订单金额汇总。此金额包含了退款订单。"
                placement="top"
              >
                <i class="el-icon-question" />
              </el-tooltip>
            </p>
            <p class="money">{{ form.incomeCount || "0.00" }}</p>
            <p class="num">
              {{ form.orderTotal || 0 }}笔 <span class="blue">明细</span>
            </p>
          </div>
          <div class="card-item border-line">
            <p class="label">
              服务费金额（元）
              <el-tooltip
                content="交易成功的订单实际已经收取的服务费金额"
                placement="top"
              >
                <i class="el-icon-question" />
              </el-tooltip>
            </p>
            <p class="money">{{ form.feeTotal || "0.00" }}</p>
            <p class="num"></p>
          </div>
          <div class="card-item">
            <p class="label">
              商家优惠（元）
              <el-tooltip
                content="订单中买家通过使用商家优惠券的核销金额"
                placement="top"
              >
                <i class="el-icon-question" />
              </el-tooltip>
            </p>
            <p class="money">{{ form.discountTotal || "0.00" }}</p>
            <p class="num"></p>
          </div>
          <div class="card-item">
            <p class="label">
              退款订单（元）
              <el-tooltip
                content="退款总金额=退商家实收+退商家优惠+售中退款金额"
                placement="top"
              >
                <i class="el-icon-question" />
              </el-tooltip>
            </p>
            <p class="money">{{ form.refundTotal || "0.00" }}</p>
            <p class="num"></p>
          </div>
        </div>

        <div class="fff">
          <p class="title">数据明细</p>

     

          <div class="search-btn2"  style="margin-bottom: 30px">
              <div class="title m-r-auto">
                <el-radio-group
            v-model="tabState"
            @change="tabChange"
          >
            <el-radio-button label="all">全部</el-radio-button>
            <el-radio-button label="right">待付款</el-radio-button>
            <el-radio-button label="success">成功</el-radio-button>
            <el-radio-button label="left5">关闭</el-radio-button>
          </el-radio-group>
              </div>
              <el-button size="small" @click="download">下载全部</el-button>
              <el-button size="small" @click="download">下载文件区</el-button>
              <el-button size="small">表格设置</el-button>
            </div>

          <a-table
            :columns="columns"
            :data-source="firstObj.listData"
            :pagination="pagination"
            :loading="listLoading"
            @change="handleTableChange"
            :scroll="{ x: 2000 }"
          >
            <template #bodyCell="{ column, record }">
              <template v-if="column.dataIndex === '0'">
                <span>0</span>
              </template>
              <template v-else-if="column.dataIndex === '-'">
                <span>-</span>
              </template>
              <template v-else-if="column.dataIndex === 'type'">
                <span>
                  {{ record.type == -1 ? record.outTotal : record.inTotal }}
                </span>
              </template>
              <template v-else-if="column.dataIndex === 'success'">
                <span>成功</span>
              </template>
            </template>
          </a-table>
        </div>
      </el-tab-pane>

      <el-tab-pane label="交易退款" name="second">
        <div class="screen fff m-b-20">
          <label for="">创建时间</label>
          <el-tooltip
            content="在查询时间当日创建的订单金额汇总。"
            placement="top"
          >
            <i class="el-icon-question" />
          </el-tooltip>
          <el-date-picker
            class="m-l-20 m-r-20"
            v-model="value2"
            type="datetimerange"
            :picker-options="pickerOptions"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            align="right"
          >
          </el-date-picker>
          <el-button type="primary">查询</el-button>
        </div>

        <div class="card fff m-b-20">
          <div class="card-item">
            <p class="label">
              退款总额（元）
              <el-tooltip
                content="退款总金额=退商家实收+退商家优惠+售中退款金额"
                placement="top"
              >
                <i class="el-icon-question" />
              </el-tooltip>
            </p>
            <p class="money">0.00</p>
            <p class="num">0笔</p>
          </div>
          <div class="card-item">
            <p class="label">
              退商家实收（元）
              <el-tooltip
                content="退款金额内退还的商家实收部分"
                placement="top"
              >
                <i class="el-icon-question" />
              </el-tooltip>
            </p>
            <p class="money">0.00</p>
            <p class="num">0笔 <span class="blue">明细</span></p>
          </div>
          <div class="card-item">
            <p class="label">
              退商家优惠（元）
              <el-tooltip
                content="退款金额内退回的商家优惠部分"
                placement="top"
              >
                <i class="el-icon-question" />
              </el-tooltip>
            </p>
            <p class="money">0.00</p>
            <p class="num"></p>
          </div>
          <div class="card-item">
            <p class="label">
              退服务费（元）
              <el-tooltip
                content="交易订单退款引起的退还已收取的服务费金额"
                placement="top"
              >
                <i class="el-icon-question" />
              </el-tooltip>
            </p>
            <p class="money">0.00</p>
            <p class="num"></p>
          </div>
        </div>
        <div class="fff">
          <p class="title">数据明细</p>

            <div class="search-btn2" style="margin-bottom: 30px">
              <div class="title m-r-auto">
                  <el-radio-group v-model="statuName" >
                  <el-radio-button label="top">全部</el-radio-button>
                  <el-radio-button label="right">退款中</el-radio-button>
                  <el-radio-button label="bottom">退款成功</el-radio-button>
                  <el-radio-button label="left">退款失败</el-radio-button>
                </el-radio-group>
              </div>
              <el-button size="small" @click="download(false)">下载全部</el-button>
              <el-button size="small" @click="download(false)">下载文件区</el-button>
              <el-button size="small">表格设置</el-button>
            </div>

          <el-table :data="secondObj.listData" fit border highlight-current-row>
            <el-table-column
              header-align="center"
              prop="address"
              label="申请时间"
              sortable
              width="180"
            >
            </el-table-column>
            <el-table-column
              header-align="center"
              prop="address"
              label="创建时间"
            >
            </el-table-column>
            <el-table-column
              header-align="center"
              prop="address"
              label="名称 | 商户订单号"
            >
            </el-table-column>
            <el-table-column
              header-align="center"
              prop="address"
              label="退款批次号"
            >
            </el-table-column>
            <el-table-column
              header-align="center"
              prop="address"
              label="买家信息"
            >
            </el-table-column>
            <el-table-column
              header-align="center"
              prop="address"
              label="订单金额（元）"
            >
            </el-table-column>
            <el-table-column
              header-align="center"
              prop="address"
              label="退款金额（元）"
            >
            </el-table-column>
          </el-table>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script setup>
import { getListApi, getDownloadAPi } from "@/api";
import { cloneDeep } from "lodash";
import { ref, unref, onMounted, computed } from "vue";
import dayjs, { Dayjs } from "dayjs";
import timeUtils from "@/utils/index.js";

const timeFormat = "YYYY-MM-DD HH:mm:ss";
const activeName = ref("first");
const statuName = ref("top");
const tabState = ref("all");
const pickerOptions = {
  shortcuts: [
    {
      text: "最近一周",
      onClick(picker) {
        const end = new Date();
        const start = new Date();
        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
        picker.$emit("pick", [start, end]);
      },
    },
    {
      text: "最近一个月",
      onClick(picker) {
        const end = new Date();
        const start = new Date();
        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
        picker.$emit("pick", [start, end]);
      },
    },
  ],
};
const pickerOptions2 = {
  onPick: ({ maxDate, minDate }) => {
    this.currentTime = minDate.getTime();
    if (maxDate) {
      this.currentTime = "";
    }
  },

  disabledDate: (time) => {
    if (this.currentTime !== "") {
      const one = 30 * 24 * 3600 * 1000;
      const minTime = this.currentTime - one;
      const maxTime = this.currentTime + one;
      return time.getTime() < minTime || time.getTime() > maxTime;
    }
  },
};
const startTime = ref(
  dayjs(
    timeUtils.timeHandle(
      new Date(new Date().toLocaleDateString()).getTime(),
      ""
    ),
    timeFormat
  )
);
const endTime = ref(
  dayjs(
    timeUtils.timeHandle(
      new Date(new Date().toLocaleDateString()).getTime() +
        3600 * 1000 * 24 * 1,
      ""
    ),
    timeFormat
  )
);
const datePicker = ref([]);
const value2 = ref("");
const firstObj = ref({
  query: {
    queryType: "order",
    pageNum: 1,
    pageSize: 20,
  },
  total: 0,
  listData: [],
});
const secondObj = ref({
  query: {},
  listData: [],
});
const listLoading = ref(false);
const form = ref({});
const cacheObj = ref({
  listData: [],
  total: 0,
});
const timeType = ref("1");
const timeMap = ref({});
const columns = [
  {
    title: "创建时间",
    dataIndex: "createTime",
    width: "160px",
    sorter: true,
  },
  {
    title: "名称",
    dataIndex: "orderName",
    width: "150px",
  },
  {
    title: "商户订单号",
    dataIndex: "orderNo",
    width: "130px",
  },
  {
    title: "支付宝交易号",
    dataIndex: "sn",
    width: "170px",
  },
  {
    title: "买家信息",
    dataIndex: "accountName",
  },
  {
    title: "订单金额（元）",
    dataIndex: "type",
  },
  {
    title: "退款金额（元）",
    dataIndex: "0",
  },
  {
    title: "交易状态",
    dataIndex: "success",
  },
  {
    title: "费率",
    dataIndex: "0",
  },
  {
    title: "服务费（元）",
    dataIndex: "0",
  },
  {
    title: "退服务费（元）",
    dataIndex: "0",
  },
  {
    title: "门店",
    dataIndex: "-",
  },
  {
    title: "业务基础订单号",
    dataIndex: "-",
  },
  {
    title: "付款备注",
    dataIndex: "remark",
  },
];

onMounted(init);

function init() {
  search();
  getTime();
}

function getTime() {
  let toData = new Date(new Date().toLocaleDateString()).getTime();
  let todayStart = toData;
  let todayEnd = todayStart + 24 * 60 * 60 * 1000;
  let yesterdayStart = toData - 3600 * 24 * 1000;
  let yesterdayEnd = yesterdayStart + 24 * 60 * 60 * 1000;
  let sevenStart = toData - 6 * 3600 * 24 * 1000;
  let thirtyStart = toData - 29 * 3600 * 24 * 1000;

  timeMap.value = {
    0: [
      timeUtils.timeHandle(new Date(yesterdayStart), ""),
      timeUtils.timeHandle(new Date(yesterdayEnd), ""),
    ],
    1: [
      timeUtils.timeHandle(new Date(todayStart), ""),
      timeUtils.timeHandle(new Date(todayEnd), ""),
    ],
    7: [
      timeUtils.timeHandle(new Date(sevenStart), ""),
      timeUtils.timeHandle(new Date(todayEnd), ""),
    ],
    30: [
      timeUtils.timeHandle(new Date(thirtyStart), ""),
      timeUtils.timeHandle(new Date(todayEnd), ""),
    ],
  };
}

const pagination = computed(() => ({
  total: firstObj.value.total,
  current: firstObj.value.query.pageNum,
  pageSize: firstObj.value.query.pageSize,
}));

function search() {
  firstObj.value = {
    ...firstObj.value,
    query: {
      ...firstObj.value.query,
      startTime: timeUtils.strToTimestamp(startTime.value.format(timeFormat)),
      endTime: timeUtils.strToTimestamp(endTime.value.format(timeFormat)),
      pageNum: 1,
    },
  };
  getList();
}

async function getList() {
  if (listLoading.value) {
    return;
  }
  listLoading.value = true;
  try {
    const { list, sub } = await getListApi(unref(firstObj.value.query));
    firstObj.value.listData = list.list;
    firstObj.value.total = Number(list.totalCount) || 0;
    cacheObj.value = {
      listData: cloneDeep(list.list),
      total: Number(list.totalCount) || 0,
    };
    form.value = sub;
  } finally {
    listLoading.value = false;
  }
}

function changeTime(type) {
  timeType.value = type;
  const [start, end] = timeMap.value[type];
  startTime.value = dayjs(start, timeFormat);
  endTime.value = dayjs(end, timeFormat);
  this.search();
}

function tabChange(val) {
  if (val === "all" || val === "success") {
    firstObj.value.listData = cloneDeep(cacheObj.value.listData);
    firstObj.value.total = cacheObj.value.total;
  } else {
    firstObj.value.listData = [];
    firstObj.value.total = 0;
  }
}

// 修改页码
function handleTableChange({ current, pageSize }) {
  firstObj.value.query.pageNum = current;
  firstObj.value.query.pageSize = pageSize;
  getList();
}

async function download(isFirst = true) {
  const query = isFirst ? unref(firstObj.value.query) : unref(secondObj.value.query)
  const res = await getDownloadAPi(query);
  const csvUrl = res.filepath || ''
  const fileName = csvUrl.substring(csvUrl.lastIndexOf("/") + 1)
  const link = document.createElement('a')
  
  document.body.appendChild(link)
  link.href = csvUrl
  link.target = '_blank'
  link.id = 'linkId'
  link.className = 'linkId'
  link.download = decodeURI(fileName)
  document.getElementById('linkId').click()
  link.remove()
}
</script>

<style lang="scss" scoped>
p {
  margin: 0;
}

.component-content {
  width: calc(100vw - 320px);
}

.title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 48px;
}

.screen {
  padding: 24px 0;
  position: relative;
}

.blue {
  color: #62a4ff;
}

.card {
  display: flex;
  flex-wrap: wrap;
  padding: 12px 0 24px 0;

  .card-item {
    // width: 278px;
    width: 22%;
    padding: 12px 0;
    position: relative;
    margin-right: 32px;

    .label {
      color: #666;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 3px;
    }

    .money {
      color: #333;
      font-weight: 500;
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 10px;
    }

    .num {
      color: #333;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .border-line::after {
    position: absolute;
    top: 25%;
    right: 0;
    height: 50%;
    border-right: 1px solid #e6e6e6;
    content: "";
  }
}

.fff {
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  margin-right: 20px;
  width: calc(100vw - 320px);
}

.block {
  margin-top: 20px;
}

.search-label {
  display: flex;
  height: 32px;
  align-items: center;
  font-size: 14px;
  color: #666;
}

.input {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  width: 540px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 0 12px;

  .name {
    margin-right: auto;
  }
}

.day {
  font-size: 14px;
  margin-right: 8px;
}

.search-btn {
  display: flex;
  align-items: center;
  height: 32px;

  .more {
    color: #1677ff;
    font-size: 14px;
    line-height: 32px;
  }
}

.top {
  position: relative;
}
.search-top {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 50px;
  color: #1677ff;
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  width: 120px;
  z-index: 9999;
}

.grey {
  font-size: 14px;
  color: #666;
}

.component-content /deep/.el-table th.el-table__cell {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  text-align: left;
  background: #fafafa;
  border-bottom: 1px solid #f0f0f0;
}

.to {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  margin: 0 6px;
}

.search-btn2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 48px;
  margin-bottom: 10px;

  .more {
    color: #1677ff;
    font-size: 14px;
    line-height: 32px;
  }
}
</style>
