<template>
  <div class="home p-t-40">
    <div class="left">
      <home-top />

      <div class="space-between m-b-14">
        <p class="title">我的产品</p>
        <p class="active-btn">
          <svg
            width="1em"
            height="1em"
            fill="#1677ff"
            viewBox="0 0 1117 1024"
            aria-hidden="true"
            focusable="false"
            style="vertical-align: -0.125em"
          >
            <path
              d="M0 0h1117.090909v186.181818H0V0z m0 372.363636h465.454545v279.272728H0V372.363636z m0 465.454546h1117.090909v186.181818H0V837.818182z m651.636364-465.454546h465.454545v279.272728H651.636364V372.363636z"
            ></path>
          </svg>
          编辑
        </p>
      </div>

      <div class="list">
        <div class="item m-r-20">
          <div class="item-title">
            <p
              class="item-tab"
              :class="{ active: activeName === 'first' }"
              @click="routeChange('first')"
            >
              支付宝企业账户
              <img
                v-show="visible.icon1"
                class="icon-svg-img pointer"
                src="@/assets/image/eye-open.png"
                @click="visible.icon1 = false"
              />
              <img
                v-show="!visible.icon1"
                class="icon-svg-img pointer"
                src="@/assets/image/eye-close.png"
                @click="visible.icon1 = true"
              />
            </p>
            <p
              class="item-tab m-l-10"
              :class="{ active: activeName === 'second' }"
              @click="routeChange('second')"
            >
              网商银行企业账户
            </p>

            <p class="m-l-auto blue">资金管理</p>
            <i class="el-icon-arrow-right inline-block pointer blue" />
          </div>

          <div v-show="activeName === 'first'" class="num">
            <div class="num-item">
              <div class="num-label">
                <p>可用余额(元)</p>
                <el-tooltip
                  content="可用金额可用于转账、提现等用途"
                  placement="top"
                >
                  <i class="el-icon-warning-outline" />
                </el-tooltip>
              </div>

              <p v-if="visible.icon1" class="money">{{ form.useableTotal }}</p>
              <p v-if="!visible.icon1" class="money">******</p>
            </div>

            <div class="num-item">
              <div class="num-label">
                <p>不可用余额(元)</p>
                <el-tooltip
                  content="通常为司法冻结或淘宝天猫业务发起的资金冻结"
                  placement="top"
                >
                  <i class="el-icon-warning-outline" />
                </el-tooltip>
              </div>

              <p v-if="visible.icon1" class="money">
                {{ form.unUseableTotal }}
              </p>
              <p v-if="!visible.icon1" class="money">******</p>
            </div>
            <div class="num-item">
              <div class="num-label">
                <p>待结算金额(元)</p>
                <el-tooltip content="还未结算到银行卡的资金" placement="top">
                  <i class="el-icon-warning-outline" />
                </el-tooltip>
              </div>

              <p v-if="visible.icon1" class="money">{{ form.caltingTotal }}</p>
              <p v-if="!visible.icon1" class="money">******</p>
            </div>
          </div>

          <div v-show="activeName === 'second'" class="bank m-b-26">
            <div class="account">
              <p>账号： 8888888</p>
              <img
                v-show="visible.icon2"
                class="icon-svg-img pointer"
                src="@/assets/image/eye-open.png"
                @click="visible.icon2 = false"
              />
              <img
                v-show="!visible.icon2"
                class="icon-svg-img pointer"
                src="@/assets/image/eye-close.png"
                @click="visible.icon2 = true"
              />
              <p class="m-l-auto">
                企业网银<i
                  class="el-icon-arrow-right inline-block pointer blue"
                />
              </p>
            </div>
            <div class="detail">
              <div class="detail-item">
                <p class="label">可用余额（元）</p>
                <p v-if="visible.icon2" class="money">0.00</p>
                <p v-if="!visible.icon2" class="money">******</p>
              </div>
              <div class="detail-item t-l-r">
                <p class="label">累计利息收益（元）</p>
                <p v-if="visible.icon2" class="money">0.00</p>
                <p v-if="!visible.icon2" class="money">******</p>
              </div>
            </div>
          </div>

          <div class="btns">
            <div v-for="item in btnArray1" :key="item.text" class="btn">
              {{ item.text }}
            </div>
          </div>
        </div>

        <div class="item">
          <div class="item-title">
            <p class="item-tab">支付宝账单</p>
            <img
              v-show="visible.icon3"
              class="icon-svg-img pointer"
              src="@/assets/image/eye-open.png"
              @click="visible.icon3 = false"
            />
            <img
              v-show="!visible.icon3"
              class="icon-svg-img pointer"
              src="@/assets/image/eye-close.png"
              @click="visible.icon3 = true"
            />
            <p class="m-l-auto blue">对账中心</p>
            <i class="el-icon-arrow-right inline-block pointer blue" />
          </div>
          <div class="num">
            <div class="num-item">
              <div class="num-label">
                <p>收入(元)</p>
                <el-tooltip content="余额账户的收入金额" placement="top">
                  <i class="el-icon-warning-outline" />
                </el-tooltip>
              </div>

              <p v-if="visible.icon3" class="money">{{ form.incomeTotal }}</p>
              <p v-if="!visible.icon3" class="money">******</p>
            </div>
            <div class="num-item">
              <div class="num-label">
                <p>支出(元)</p>
                <el-tooltip content="余额账户的支出金额" placement="top">
                  <i class="el-icon-warning-outline" />
                </el-tooltip>
              </div>

              <p v-if="visible.icon3" class="money">{{ form.outTotal }}</p>
              <p v-if="!visible.icon3" class="money">******</p>
            </div>
            <div class="num-item">
              <div class="num-label">
                <p>期初余额(元)</p>
                <el-tooltip
                  content="本期（自然日、月）起始时间的账户余额"
                  placement="top"
                >
                  <i class="el-icon-warning-outline" />
                </el-tooltip>
              </div>

              <p v-if="visible.icon3" class="money">{{ form.beginAmount }}</p>
              <p v-if="!visible.icon3" class="money">******</p>
            </div>
          </div>
          <div class="btns">
            <div v-for="item in btnArray2" :key="item.text" class="btn">
              {{ item.text }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <home-right />
    </div>
  </div>
</template>

<script setup>
import MoreFunction from "@/components/MoreFunction.vue";
import HomeTop from "./components/HomeTop.vue";
import HomeRight from "./components/HomeRight.vue";
import { getHomeApi } from "@/api";
import { ref, onMounted } from "vue";
import { useRoute, useRouter } from "vue-router";

const route = useRoute();
const rotuer = useRouter();
const activeName = ref("first");
const visible = ref({
  icon1: false,
  icon2: false,
  icon3: false,
});
const form = ref({
  useableTotal: "0.00", //可用余额
  unUseableTotal: "0.00", //不可用余额
  caltingTotal: "0.00", //待结算金额
  incomeTotal: "0.00", //收入
  outTotal: "0.00", //支出
  beginAmount: "0.00", //期初余额
});
const btnArray1 = [
  {
    text: "充值",
  },
  {
    text: "转账",
  },
  {
    text: "提现",
  },
  {
    text: "批量付款",
  },
];
const btnArray2 = [
  {
    text: "账单下载",
  },
  {
    text: "发票管理",
  },
];
onMounted(init);

async function init() {
  const result = await getHomeApi({
    queryType: "index",
  });
  form.value = result;
}
function routeChange(path) {
  if (activeName.value === path) return;
  activeName.value = path;
}

function jumpPage() {
  router.push({
    path: "/fundManagement",
  });
}
</script>

<style lang="scss" scoped>
// p {
//   margin: 0;
// }
.inline-block {
  display: inline-block;
}

.blue {
  color: #1677ff;
}

.home {
  width: 1344px;
  margin: 0 auto;
  display: flex;
  background: #f5f5f5;

  .left {
    width: 920px;
    margin-right: 20px;

    .title {
      color: #333;
      font-size: 18px;
      line-height: 25px;
    }

    .active-btn {
      font-size: 14px;
      height: 28px;
      padding: 0 12px;
      color: #1677ff;
      line-height: 28px;
      background-color: #e7e7e7;
      border-radius: 14px;
      cursor: pointer;
    }
  }

  .list {
    display: flex;
    .item {
      width: 452px;
      padding: 0 24px 24px 24px;
      background: #fff;
      border-radius: 8px;
    }

    .item-title {
      display: flex;
      align-items: center;
      font-size: 14px;
      height: 60px;
    }
  }

  .item-tab {
    height: 32px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 24px;
    color: rgba(12, 12, 28, 0.7);
    position: relative;
    cursor: pointer;
  }

  .active {
    color: #1677ff;
  }
  .active::after {
    height: 4px;
    width: 100%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 2px;
    background: #006cff;
  }

  .num {
    padding: 24px 0;
    display: flex;

    .num-item {
      flex: 1;

      .num-label {
        display: flex;
        height: 20px;
        align-items: center;
        color: #666;
        font-size: 14px;
      }

      .money {
        color: #333;
        font-size: 20px;
        line-height: 60px;
      }
    }
  }

  .btns {
    height: 32px;
    display: flex;
    align-items: center;

    .btn {
      position: relative;
      display: inline-block;
      font-weight: 400;
      white-space: nowrap;
      text-align: center;
      height: 32px;
      padding: 4px 15px;
      font-size: 14px;
      border-radius: 2px;
      color: rgba(0, 0, 0, 0.85);
      border: 1px solid #d9d9d9;
      background: #fff;
      margin-right: 10px;
    }
  }

  .right {
    height: 100%;
  }
}

.bank {
  .account {
    display: flex;
    align-items: center;
    color: #333;
    font-weight: 400;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
  }

  .detail {
    display: flex;

    .detail-item {
      width: 50%;
    }

    .t-l-r {
      flex: 1;
      text-align: right;
    }

    .label {
      color: #666;
      font-size: 14px;
    }

    .money {
      color: #333;
      font-size: 30px;
      line-height: 60px;
    }
  }
}
</style>
