* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  margin-bottom: 0 !important;
  margin-block-end: 0;
  margin-block-start: 0;
}

.align-item-center {
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.p-t-40 {
  padding-top: 40px;
}
.p-t-60 {
  padding-top: 72px;
}

.m-l-auto {
  margin-left: auto;
}

.m-r-auto {
  margin-right: auto !important;
}

.m-r-8 {
  margin-right: 8px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-r-20 {
  margin-right: 20px !important;
}
.m-r-40 {
  margin-right: 40px;
}

.m-t-12 {
  margin-top: 12px;
}

.m-t-16 {
  margin-top: 16px;
}

.m-l-6 {
  margin-left: 6px;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-l-20 {
  margin-left: 20px !important;
}
.m-l-40 {
  margin-left: 40px;
}

.m-b-12 {
  margin-bottom: 12px;
}
.m-b-14 {
  margin-bottom: 14px;
}
.m-b-16 {
  margin-bottom: 16px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-23 {
  margin-bottom: 23px;
}
.m-b-26 {
  margin-bottom: 26px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-b-60 {
  margin-bottom: 60px;
}

.img-cover {
  object-fit: cover;
}

.pointer:hover {
  cursor: pointer;
}

.icon-svg-img {
  display: inline-block;
  width: 14px;
  height: 14px;
  object-fit: cover;
}

@font-face {
  font-family: 'iconfont'; /* Project id 91245 */
  src: url('@/assets/font/font1.ttf'),
    url('@/assets/font/font2.woff2');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 6px;
}

.icon-morenicon:before {
  content: '\e7f3';
}

.icon-jiqiren:before {
  content: '\e7f0';
}

.icon-wendangzhongxin:before {
  content: '\e7f1';
}

.icon-xinpinshangxin:before {
  content: '\e7f2';
}

.icon-wentifankui:before {
  content: '\e7ef';
}

.icon-tuiguangzhongxin:before {
  content: '\e7ee';
}

.icon-kaipiaoxinxi:before {
  content: '\e7ec';
}

.icon-fapiaochaxun:before {
  content: '\e7ed';
}

.icon-pinpaiguanli:before {
  content: '\e7eb';
}

.icon-jiaoyitousuyuzixun:before {
  content: '\e7ea';
}

.icon-zhinengshebeifenxi:before {
  content: '\e7e9';
}

.icon-xiezuofeiyewu1:before {
  content: '\e7fc';
}

.icon-jiaoyiqizhajubao:before {
  content: '\e7dd';
}

.icon-huabeijin:before {
  content: '\e7de';
}

.icon-huabeijinbeifen:before {
  content: '\e7df';
}

.icon-weiguiyuchufa:before {
  content: '\e7e0';
}

.icon-shangzhisoujihua:before {
  content: '\e7e1';
}

.icon-tiyanbaozhengjinguanli:before {
  content: '\e7e2';
}

.icon-zhengceqianyue:before {
  content: '\e7e3';
}

.icon-yingxiaojili:before {
  content: '\e7e4';
}

.icon-sousuotuiguang:before {
  content: '\e7e5';
}

.icon-yunyingjifen:before {
  content: '\e7e6';
}

.icon-zhengceqianyuejindu:before {
  content: '\e7e7';
}

.icon-pinpaizhida:before {
  content: '\e7e8';
}

.icon-hezuoxiangmuyujishufuwu:before {
  content: '\e7dc';
}

.icon-yueshengjifuwu:before {
  content: '\e7db';
}

.icon-zhifutongshanghuguanli:before {
  content: '\e7da';
}

.icon-jifenbao:before {
  content: '\e7cc';
}

.icon-jiesuanjilu:before {
  content: '\e7cd';
}

.icon-tixian:before {
  content: '\e7ce';
}

.icon-yinhang:before {
  content: '\e7cf';
}

.icon-chongzhi:before {
  content: '\e7d0';
}

.icon-jiesuanzhanghu:before {
  content: '\e7d1';
}

.icon-renqunguanli:before {
  content: '\e7d2';
}

.icon-huichanghuodong:before {
  content: '\e7d3';
}

.icon-tuihuanfapiao:before {
  content: '\e7d4';
}

.icon-tiqianshoukuan:before {
  content: '\e7d5';
}

.icon-zhuanqian:before {
  content: '\e7d6';
}

.icon-shuzirenminbi:before {
  content: '\e7d7';
}

.icon-zhuanzhang1:before {
  content: '\e7d8';
}

.icon-yunmallshangquan:before {
  content: '\e7d9';
}

.icon-dianzimingpian:before {
  content: '\e7cb';
}

.icon-yuangongliebiao:before {
  content: '\e7ca';
}

.icon-lvsenengliang:before {
  content: '\e7ba';
}

.icon-jilizhengce1:before {
  content: '\e7c7';
}

.icon-yunyingzonglan:before {
  content: '\e7c8';
}

.icon-tuiguanggongju:before {
  content: '\e7c9';
}

.icon-shenghuohao1:before {
  content: '\e7bf';
}

.icon-huiyuanguanli1:before {
  content: '\e7c0';
}

.icon-jingyingxinxi1:before {
  content: '\e7c2';
}

.icon-yingxiaogongju1:before {
  content: '\e7c3';
}

.icon-kehuqun:before {
  content: '\e7c4';
}

.icon-xiaochengxu1:before {
  content: '\e7c5';
}

.icon-weiguiyutousu1:before {
  content: '\e7c6';
}

.icon-zhinengshebei1:before {
  content: '\e7ab';
}

.icon-shenpishenqing1:before {
  content: '\e7bd';
}

.icon-shenghuohao:before {
  content: '\e7bc';
}

.icon-jichuhuiyuanka:before {
  content: '\e7bb';
}

.icon-weiguiyutousu:before {
  content: '\e7a8';
}

.icon-piliangfukuan:before {
  content: '\e7b1';
}

.icon-wangshangdai1:before {
  content: '\e7b2';
}

.icon-yulibao:before {
  content: '\e7b3';
}

.icon-zijinzonglan1:before {
  content: '\e7b4';
}

.icon-zhinengcunkuan:before {
  content: '\e7b5';
}

.icon-zhanghujiguanli:before {
  content: '\e7b6';
}

.icon-wangshangyinhangqiyezhanghu:before {
  content: '\e7b7';
}

.icon-zidongtiaobo:before {
  content: '\e7b8';
}

.icon-zidonglicai:before {
  content: '\e7b9';
}

.icon-shangjiaxinxi:before {
  content: '\e7a5';
}

.icon-shezhi1:before {
  content: '\e7a6';
}

.icon-shenpidaiban:before {
  content: '\e7a7';
}

.icon-a-appidbangding:before {
  content: '\e7a9';
}

.icon-tongmaguanli:before {
  content: '\e7aa';
}

.icon-mendianguanli:before {
  content: '\e7ac';
}

.icon-shoukuanzhanghaobangding:before {
  content: '\e7ad';
}

.icon-shouquanguanli1:before {
  content: '\e7ae';
}

.icon-shouquanhuobanchakan:before {
  content: '\e7af';
}

.icon-shenpishezhi:before {
  content: '\e7b0';
}

.icon-fapiaoziliao:before {
  content: '\e799';
}

.icon-duizhangzonglan1:before {
  content: '\e79a';
}

.icon-feiyongzhangdan:before {
  content: '\e79b';
}

.icon-licaizhanghu:before {
  content: '\e79c';
}

.icon-jiaoyidingdan:before {
  content: '\e79d';
}

.icon-zhangdanxiazai:before {
  content: '\e79e';
}

.icon-zhifubaozhanghu:before {
  content: '\e79f';
}

.icon-kaipiaoguanli:before {
  content: '\e7a0';
}

.icon-pingzhengshenqing:before {
  content: '\e7a1';
}

.icon-shoupiaoguanli:before {
  content: '\e7a2';
}

.icon-zijinyewu:before {
  content: '\e7a3';
}

.icon-zhangwumingxi:before {
  content: '\e7a4';
}

.icon-anxinchong:before {
  content: '\e78c';
}

.icon-jiaoyifenxi1:before {
  content: '\e78e';
}

.icon-shengka:before {
  content: '\e790';
}

.icon-quanbao:before {
  content: '\e791';
}

.icon-liuliangfenxi1:before {
  content: '\e792';
}

.icon-xiaochengxufenxi1:before {
  content: '\e793';
}

.icon-shujuzonglan:before {
  content: '\e794';
}

.icon-jiaoseguanli:before {
  content: '\e795';
}

.icon-youhuiquan:before {
  content: '\e796';
}

.icon-yonghufenxi1:before {
  content: '\e797';
}

.icon-jinpaituiguang:before {
  content: '\e798';
}

.icon-jiesuanguanli1:before {
  content: '\e699';
}

.icon-jiesuanguanli:before {
  content: '\e78b';
}

.icon-yonghufenxi:before {
  content: '\e698';
}

.icon-jiaoyifenxi:before {
  content: '\e691';
}

.icon-gaikuang:before {
  content: '\e692';
}

.icon-liuliangfenxi:before {
  content: '\e693';
}

.icon-xiaochengxufenxi:before {
  content: '\e694';
}

.icon-yingxiaofenxi:before {
  content: '\e695';
}

.icon-huiyuankafenxi:before {
  content: '\e696';
}

.icon-zhuantifenxi:before {
  content: '\e697';
}

.icon-a-zhaoshang2:before {
  content: '\e690';
}

.icon-zhaoshang:before {
  content: '\e68f';
}

.icon-weiguiyuzhenggai:before {
  content: '\e68e';
}

.icon-xinxi2:before {
  content: '\e68d';
}

.icon-shouquan:before {
  content: '\e68b';
}

.icon-yuangongguanli:before {
  content: '\e68c';
}

.icon-shezhi:before {
  content: '\e68a';
}

.icon-shenpi:before {
  content: '\e689';
}

.icon-bangding:before {
  content: '\e688';
}

.icon-jingyingxinxi_new:before {
  content: '\e687';
}

.icon-woqianyuedechanpinicon_x:before {
  content: '\e686';
}

.icon-fapiao:before {
  content: '\e67e';
}

.icon-duizhangzonglan:before {
  content: '\e680';
}

.icon-caiwupingzheng:before {
  content: '\e681';
}

.icon-zhanghuzijin:before {
  content: '\e682';
}

.icon-yewuchaxun:before {
  content: '\e684';
}

.icon-zhangdanguanli:before {
  content: '\e685';
}

.icon-hot1:before {
  content: '\e67f';
}

.icon-qiyejibenxinxi:before {
  content: '\e67d';
}

.icon-jingyingxinxi:before {
  content: '\e678';
}

.icon-wuliao:before {
  content: '\e671';
}

.icon-zhinengshebei:before {
  content: '\e67c';
}

.icon-yingxiaogongju:before {
  content: '\e679';
}

.icon-yunyingzhendi:before {
  content: '\e67a';
}

.icon-yunyingshouye:before {
  content: '\e677';
}

.icon-jilizhengce:before {
  content: '\e675';
}

.icon-gukefenxi:before {
  content: '\e674';
}

.icon-guanfanghuodong:before {
  content: '\e673';
}

.icon-liuliangtuiguang:before {
  content: '\e676';
}

.icon-liuliangjiangli:before {
  content: '\e672';
}

.icon-pingmutoufang:before {
  content: '\e670';
}

.icon-shouquanguanli:before {
  content: '\e66f';
}

.icon-wodefuwushang:before {
  content: '\e66e';
}

.icon-jinrongfuwu:before {
  content: '\e66d';
}

.icon-zijinquanyi:before {
  content: '\e66c';
}

.icon-zijinzengzhi:before {
  content: '\e669';
}

.icon-zijinzhanghuguanli:before {
  content: '\e668';
}

.icon-zijintiaobo:before {
  content: '\e66a';
}

.icon-zijinzonglan:before {
  content: '\e66b';
}

.icon-duizhanggailan:before {
  content: '\e667';
}

.icon--dangmianfu-:before {
  content: '\e666';
}

.icon-exclamationcircle:before {
  content: '\e664';
}

.icon-zhimaxinyong:before {
  content: '\e663';
}

.icon-zhengshu:before {
  content: '\e660';
}

.icon-wenti:before {
  content: '\e662';
}

.icon-zhengyan1:before {
  content: '\e65e';
}

.icon-biyansvg:before {
  content: '\e65f';
}

.icon-jinru-copy:before {
  content: '\ef11';
}

.icon-jinru:before {
  content: '\e65d';
}

.icon-zhifubaoshualian:before {
  content: '\e65c';
}

.icon-bulb:before {
  content: '\e657';
}

.icon-tag:before {
  content: '\e658';
}

.icon-audit:before {
  content: '\e659';
}

.icon-sound:before {
  content: '\e65a';
}

.icon-pay-circle:before {
  content: '\e65b';
}

.icon-dangmianzijinshouquan:before {
  content: '\e656';
}

.icon-kaitongyulibao:before {
  content: '\e652';
}

.icon-kaitongzijinguanjia:before {
  content: '\e653';
}

.icon-shangyueshouqian:before {
  content: '\e654';
}

.icon-youli:before {
  content: '\e655';
}

.icon-icon-test:before {
  content: '\e651';
}

.icon-yushouquan:before {
  content: '\e650';
}

.icon-money4coloring:before {
  content: '\e64e';
}

.icon-shouye:before {
  content: '\e64f';
}

.icon-weibiaoti-:before {
  content: '\e64d';
}

.icon-wangshangdai2:before {
  content: '\e64a';
}

.icon-mayibaoxian:before {
  content: '\e64b';
}

.icon-wangshangdai:before {
  content: '\e64c';
}

.icon-huabeifenqi:before {
  content: '\e648';
}

.icon-huabeiyushouquan:before {
  content: '\e649';
}

.icon-jianyifankui:before {
  content: '\e640';
}

.icon-mendianma_:before {
  content: '\e641';
}

.icon-mendianma_1:before {
  content: '\e642';
}

.icon-mendianma_erweima1:before {
  content: '\e643';
}

.icon-mendianma_chenggong:before {
  content: '\e644';
}

.icon-mendianma_2:before {
  content: '\e645';
}

.icon-mendianma_jiantou:before {
  content: '\e646';
}

.icon-CombinedShapeCopy:before {
  content: '\e63f';
}

.icon-CombinedShapex:before {
  content: '\e63e';
}

.icon-zhifubao:before {
  content: '\e63d';
}

.icon-gengduobangzhu:before {
  content: '\e63b';
}

.icon-jinjiefuwu:before {
  content: '\e63c';
}

.icon-biaoqian:before {
  content: '\e63a';
}

.icon-youjiaobiao:before {
  content: '\e633';
}

.icon-new:before {
  content: '\e639';
}

.icon-xinshouyindao_yue:before {
  content: '\e638';
}

.icon-xinshouyindao_zhanghuguanli:before {
  content: '\e634';
}

.icon-xinshouyindao_gongneng1:before {
  content: '\e635';
}

.icon-xinshouyindao_qingsonglicai:before {
  content: '\e636';
}

.icon-xinshouyindao_xinyong:before {
  content: '\e637';
}

.icon-pingzhengguanli:before {
  content: '\e631';
}

.icon-fapiaoguanli:before {
  content: '\e632';
}

.icon-biyan:before {
  content: '\e62f';
}

.icon-zhengyan:before {
  content: '\e630';
}

.icon-b_alipay_tuijian:before {
  content: '\e62a';
}

.icon-b_alipay_yue:before {
  content: '\e62b';
}

.icon-b_alipay_yulibao:before {
  content: '\e62c';
}

.icon-b_alipay_nikenengxuyao:before {
  content: '\e62d';
}

.icon-b_alipay_zhima:before {
  content: '\e62e';
}

.icon-tago:before {
  content: '\ef09';
}

.icon-user:before {
  content: '\ee9d';
}

.icon-appstoreo:before {
  content: '\eec9';
}

.icon-filetext:before {
  content: '\eecd';
}

.icon-barchart:before {
  content: '\eef4';
}

.icon-paycircleo:before {
  content: '\ef10';
}

.icon-xianjin:before {
  content: '\e6d9';
}

.icon-fuwuchuangb:before {
  content: '\e665';
}

.icon-iconfontqianghongbaoeps:before {
  content: '\e683';
}

.icon-app-copy:before {
  content: '\e805';
}

.icon-wangshangyinhanglogoxx:before {
  content: '\e629';
}

.icon-yuanlogo_hangyeguanzhumingdan:before {
  content: '\e627';
}

.icon-yuanlogo_zhimaxinyongpingfen:before {
  content: '\e628';
}

.icon-_hangyeguanzhumingdan:before {
  content: '\e625';
}

.icon-_zhimaxinyongpingfen:before {
  content: '\e626';
}

.icon-hongbao-:before {
  content: '\e624';
}

.icon-ip-icon:before {
  content: '\e623';
}

.icon-huabei:before {
  content: '\e622';
}

.icon-zhuanzhang:before {
  content: '\e621';
}

.icon-shenghuoquan:before {
  content: '\e620';
}

.icon-bell:before {
  content: '\e67b';
}

.icon-gaizhangjilu:before {
  content: '\e804';
}

.icon-exclamationcircleo:before {
  content: '\e61e';
}

.icon-infocircleo:before {
  content: '\e61f';
}

.icon-questioncircle:before {
  content: '\e647';
}

.icon-delete:before {
  content: '\e661';
}

.icon-zhimarenzheng:before {
  content: '\e61a';
}

.icon-qizhaxinxiyanzheng:before {
  content: '\e61b';
}

.icon-zhimaxinyongpingfenpuhuiban:before {
  content: '\e61c';
}

.icon-hangyeguanzhumingdanpuhuiban:before {
  content: '\e61d';
}

.icon-zhimaxinyongpingfenmiaobian:before {
  content: '\e605';
}

.icon-zhimaxinyongpingfenshise:before {
  content: '\e619';
}

.icon-anli:before {
  content: '\e617';
}

.icon-xingyeguanzhumingdan:before {
  content: '\e618';
}

.icon-erweima:before {
  content: '\e603';
}

.icon-kuaijiedenglu:before {
  content: '\e610';
}

.icon-jifenbaopiliang:before {
  content: '\e60e';
}

.icon-haiguanbaoguanzhongxin:before {
  content: '\e614';
}

.icon-zengzhifuwuxian:before {
  content: '\e60a';
}

.icon-zengzhifuwu:before {
  content: '\e600';
}

.icon-woyaoshoukuan:before {
  content: '\e601';
}

.icon-woyaoshoukuanxian:before {
  content: '\e60d';
}

.icon-dianhua1:before {
  content: '\e616';
}

.icon-yidunfengxianpingfen:before {
  content: '\e615';
}

.icon-iconfontjikediancanicon17:before {
  content: '\e612';
}

.icon-appshoukuan:before {
  content: '\e611';
}

.icon-shoujiwangzhanshoukuan:before {
  content: '\e613';
}

.icon-diannaoduanshoukuan:before {
  content: '\e60f';
}

.icon-koubeikaidianxian:before {
  content: '\e60c';
}

.icon-logo:before {
  content: '\e60b';
}

.icon-chanpinjieshao:before {
  content: '\e607';
}

.icon-jieruliucheng:before {
  content: '\e608';
}

.icon-zifeibiaozhun:before {
  content: '\e609';
}

.icon-changjianwenti:before {
  content: '\e606';
}

.icon-wangwang:before {
  content: '\e604';
}

.icon-koubeikaidian:before {
  content: '\e602';
}
