<template>
  <div class="reconciliation">
    <div class="left">
      <reconciliation-aside @changeRoute="changeTab" />
    </div>
    <div class="right">
      <overview class="item" v-show="activeName === 'first'" />
      <transaction class="item" v-show="activeName === 'second'" />
      <finance class="item" v-show="activeName === 'three'" />
    </div>
  </div>
</template>

<script setup>
import ReconciliationAside from "@/components/ReconciliationAside.vue";
import Transaction from "./components/Transaction.vue";
import Finance from "./components/Finance.vue";
import Overview from "./components/Overview.vue";
import { ref } from "vue";

const activeName = ref("first");
function changeTab(val) {
  activeName.value = val;
}
</script>

<style lang="scss" scoped>
p {
  margin: 0;
}

.reconciliation {
  display: flex;
  background: #f5f5f5;
  .left {
    width: 220px;
    margin-left: 40px;
  }

  .right {
    margin-left: 40px;
    width: calc(100vw - 300px);
  }
}
</style>
