<template>
  <div class="fund-aside">
    <div class="blue flex">
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-zijinzonglan1"
      ></i>
      <p>资金总览</p>
    </div>
    <div class="line"></div>
    <p class="grey flex">资金服务</p>
    <div class="flex black">
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-piliangfukuan"
      ></i>
      <p>批量付款</p>
    </div>
    <div class="flex black">
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-zidongtiaobo"
      ></i>
      <p>自动调拨</p>
    </div>
    <div class="flex black">
      <i
        class="iconfont menuitemIcon___1aSjH bportalcomponents-iconfontUrl iconfontUrl___1IjCV"
        >
        <svg
          viewBox="0 0 1024 1024"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="16"
          height="16"
        >
          <path
            d="M921.6 64a38.4 38.4 0 0 1 38.4 38.4v819.2a38.4 38.4 0 0 1-38.4 38.4H102.4a38.4 38.4 0 0 1-38.4-38.4V102.4a38.4 38.4 0 0 1 38.4-38.4h819.2zM896 128H128v768h768V128z m-415.36 513.92a32 32 0 0 1 5.76 63.488l-5.76 0.512H289.6a32 32 0 0 1-5.76-63.488l5.76-0.512H480.64z m256-192a32 32 0 0 1 5.76 63.488l-5.76 0.512H289.6a32 32 0 0 1-5.76-63.488l5.76-0.512h447.168z m0-193.6a32 32 0 0 1 5.76 63.424l-5.76 0.576H289.6a32 32 0 0 1-5.76-63.488l5.76-0.512h447.168z"
          ></path>
        </svg>
      </i>

      <p>批量退款</p>
    </div>
    <div class="line"></div>
    <p class="grey flex">资金增值</p>
    <div class="flex black">
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-yueshengjifuwu"
      ></i>
      <p>余额升级服务</p>
    </div>
    <div class="flex black">
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-wangshangyinhangqiyezhanghu"
      ></i>
      <p>网商银行企业账户</p>
    </div>
    <div class="flex black">
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-yulibao"
      ></i>
      <p>余利宝</p>
    </div>
    <div class="flex black">
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-zidonglicai"
      ></i>
      <p>自动理财</p>
    </div>
    <div class="line"></div>
    <p class="grey flex">金额服务</p>
    <div class="flex black">
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-wangshangdai1"
      ></i>
      <p>网商贷</p>
    </div>
    <div class="line"></div>
    <p class="grey flex">资金账户管理</p>
    <div class="flex black">
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-zhanghujiguanli"
      ></i>
      <p>账户集管理</p>
    </div>
    <div class="flex black">
      <i
        class="iconfont menuitemIcon___1aSjH bportalcomponents-iconfontUrl iconfontUrl___1IjCV"
      >
        <svg
          viewBox="0 0 1024 1024"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="16"
          height="16"
        >
          <path
            d="M921.6 64a38.4 38.4 0 0 1 38.4 38.4v819.2a38.4 38.4 0 0 1-38.4 38.4H102.4a38.4 38.4 0 0 1-38.4-38.4V102.4a38.4 38.4 0 0 1 38.4-38.4h819.2zM896 128H128v768h768V128z m-415.36 513.92a32 32 0 0 1 5.76 63.488l-5.76 0.512H289.6a32 32 0 0 1-5.76-63.488l5.76-0.512H480.64z m256-192a32 32 0 0 1 5.76 63.488l-5.76 0.512H289.6a32 32 0 0 1-5.76-63.488l5.76-0.512h447.168z m0-193.6a32 32 0 0 1 5.76 63.424l-5.76 0.576H289.6a32 32 0 0 1-5.76-63.488l5.76-0.512h447.168z"
          ></path>
        </svg>
      </i>
      <p>银行账号管理</p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
p {
  margin: 0;
}
.grey {
  color: #999;
}

.black {
  color: #333;
}

.blue {
  color: #1677ff;
}

.flex {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 14px;
}

.fund-aside {
  width: 220px;
}

.line {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background-color: #ebebeb;
  content: ' ';
}
</style>
