<template>
  <div class="z-header align-item-center">
    <img class="img img-cover m-r-20" src="@/assets/image/logo.png" alt="" />
    <p class="name m-r-40">商家平台</p>
    <div class="tabs align-item-center">
      <div
        class="item item-tab"
        :class="{ active: activeName === item.path }"
        v-for="item in routes"
        :key="item.path"
        @click="routeChange(item)"
      >
        {{ item.text }}
      </div>
      <div class="item" v-for="item in staticRoute" :key="item.text">
        {{ item.text }}
      </div>
    </div>
  </div>
</template>

<script setup>
import { onMounted, ref, unref, toRaw, watch, computed } from "vue";
import { useRoute, useRouter } from "vue-router";

const router = useRouter();
const routes = [
  {
    text: "首页",
    path: "/",
  },
  {
    text: "资金管理",
    path: "/fundManagement",
  },
  {
    text: "对账中心",
    path: "/reconciliationCenter",
  },
];
const staticRoute = [
  {
    text: "产品中心",
  },
  {
    text: "运营中心",
  },
  {
    text: "数据中心",
  },
  {
    text: "账号中心",
  },
];

const activeName = computed(() => {
  return router.currentRoute.value.path;
});

function routeChange({ path }) {
  if (path === activeName.value) return;
  activeName.value = path;
  router.push({
    path,
  });
}
</script>

<style lang="scss" scoped>
p {
  margin: 0;
}
.z-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  background: #f5f5f5;
  z-index: 999;

  .img {
    width: 81px;
    height: 28px;
  }

  .item {
    margin: 0 23px;
    color: #333;
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    line-height: 60px;
    -webkit-font-smoothing: antialiased;
    -moz-o-sxfont-smoothing: grayscale;
    color: #2c3e50;
    font-family: "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica,
      Arial, sans-serif;
  }

  .item-tab {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    position: relative;
    cursor: pointer;
  }

  .active {
    color: #1677ff;
  }
  .active::after {
    height: 4px;
    width: 100%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 2px;
    background: #006cff;
  }
}

.name {
  color: #333;
  font-weight: 400;
  font-size: 18px;
}
</style>
