<template>
  <div class="more-function">
    <div class="more-function-content">
      <img
        class="img img-cover"
        src="@/assets/image/more-function.png"
        alt=""
      />
      <p class="text">更多服务敬请期待</p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
p {
  margin: 0;
}

.more-function-content {
  margin: 300px auto;
  width: 210px;
  height: 210px;
  text-align: center;

  .img {
    width: 40px;
    height: 46px;
  }

  .text {
    height: 22px;
    color: #999;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
}
</style>
