<template>
  <div class="fund-aside">
    <div
      class="flex pointer"
      :class="{ active: activeName === 'first' }"
      @click="change('first')"
    >
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-duizhangzonglan1"
      ></i>
      <p>对账总览</p>
    </div>
    <div class="line"></div>
    <p class="grey flex">实时账单(业务查询)</p>
    <div
      class="flex black pointer"
      :class="{ active: activeName === 'second' }"
      @click="change('second')"
    >
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-jiaoyidingdan"
      ></i>
      <p>交易订单</p>
    </div>
    <div
      class="flex black pointer"
      :class="{ active: activeName === 'three' }"
      @click="change('three')"
    >
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-zhangwumingxi"
      ></i>
      <p>资金流水（财务明细）</p>
    </div>
    <div class="flex black">
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-zijinyewu"
      ></i>
      <p>资金操作记录（资金业务）</p>
    </div>
    <div class="line"></div>
    <p class="grey flex">账单管理</p>
    <div class="flex black">
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-zhangdanxiazai"
      ></i>
      <p>账单下载</p>
    </div>
    <div class="flex black">
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-feiyongzhangdan"
      ></i>
      <p>费用账单</p>
    </div>
    <div class="line"></div>
    <p class="grey flex">发票管理</p>
    <div class="flex black">
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-shoupiaoguanli"
      ></i>
      <p>给我的发票</p>
    </div>
    <div class="flex black">
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-kaipiaoguanli"
      ></i>
      <p>我开的发票</p>
    </div>
    <div class="flex black">
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-fapiaoziliao"
      ></i>
      <p>发票资料及收票地址</p>
    </div>
    <div class="line"></div>
    <p class="grey flex">财务凭证</p>
    <div class="flex black">
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-pingzhengshenqing"
      ></i>
      <p>凭证申请</p>
    </div>
    <div class="line"></div>
    <p class="grey flex">资金账户</p>
    <div class="flex black">
      <i
        class="iconfont menuitemIcon___1aSjH iconfont___1QYLv icon-zhifubaozhanghu"
      ></i>
      <p>支付宝账户</p>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
const emits = defineEmits(["changeRoute"]);
const activeName = ref("first");
function change(val) {
  activeName.value = val;
  emits("changeRoute", val);
}
</script>

<style lang="scss" scoped>

p {
  margin: 0;
}
.grey {
  color: #999;
}

.black {
  color: #333;
}

.blue {
  color: #1677ff;
}

.flex {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 14px;
}

.active {
  color: #1677ff;
}
.fund-aside {
  width: 220px;
}

.line {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background-color: #ebebeb;
  content: " ";
}
</style>
