<template>
  <a-config-provider :locale="zh_CN">
    <div id="apps" class="app">
      <z-header></z-header>
      <router-view />
    </div>
  </a-config-provider>
</template>

<script>
import ZHeader from "@/components/Header.vue";
import zh_CN from "ant-design-vue/lib/locale-provider/zh_CN";
import moment from "moment";
import "moment/locale/zh-cn";

moment.locale("zh-cn");

export default {
  name: "App",
  components: { ZHeader },

  data() {
    return {
      zh_CN,
    };
  },
};
</script>

<style>
#apps {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-o-sxfont-smoothing: grayscale;
  color: #2c3e50;
  background: #f5f5f5;
  box-sizing: border-box;
}

.app {
  padding-top: 72px;
  padding-bottom: 24px;
  min-height: 100vh;
}
</style>
